{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% bootstrap_css %}
</head>
<body class="bg-white">
    <div class="container">
        <h1>Contact</h1>
        {% bootstrap_messages %}

        <form
                action="{% url 'contact' %}"
                method="post"
                class="form"
                autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Send
                </button>
            {% endbuttons %}

        </form>
    </div>


{% bootstrap_javascript jquery='full' %}
</body>
</html>